#navigation {
  background-color: orange;
}
#basic-navbar-nav {
  margin-right: 30px;
}
#brand {
  color: white;
}
#basic-nav-dropdown {
  color: white;
}
#nav_link {
  color: white;
  font-weight: 500;
}
#nav_link:hover {
  color: black;
}
