@import "~bootstrap/scss/bootstrap";

$primary-color: #fa8405;
$secondary-color: #00b33c;
$secondary-color-dark: #009933;
$fb-btn-blue: #3b5998;
$fb-btn-hover: #324b81;
$google-btn-red: #DB4437;
$google-btn-hover: #c23124;

.app-header {
  background-color: $primary-color;

  @include media-breakpoint-down(sm) {
    padding-right: 10px;
  }
}

.menuContainer {
  float: right;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: $primary-color;
  .top-menu {
    background-color: $primary-color;
    li {
      &:hover {
        border-bottom: 2px solid $secondary-color-dark;
      }
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
    }

    .ant-menu-item-selected {
      border-bottom: 2px solid $secondary-color-dark;
      font-weight: 800;
    }

  }
}

.right-menu {
  @include media-breakpoint-down(sm){
    display: none;
  }
}

.barsMenu {
  background-color: transparent;
  width: 40px;
  text-align: center;
  span {
    font-size: 20px;
    color: white
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.app-nav {
  display: flex;
  justify-items: center;
  justify-content: space-between;
}

.logo {
  display: inline;
  font-size: 30px;
  letter-spacing: 0.5;
  
  a{ 
    color: white;
    padding-top: 8px;
    padding-right: 50px;
    font-weight: lighter;
    text-transform: uppercase;
  }
}

.content-layout {
  padding: 100px;
  background-color: white;
}

.submit-button {
  background-color: $secondary-color;
  border-color: $secondary-color;

  &:hover {
    background-color: $secondary-color-dark;
    border-color: $secondary-color-dark;
  }
}

.btn {
  width: 100%;
  color: white;
}

.facebook-btn {
  background-color: $fb-btn-blue;
  border-color: $fb-btn-blue;
  &:hover {
    background-color: $fb-btn-hover;
    border-color: $fb-btn-hover;
    color: white;
  }
}

.google-btn {
  background-color: $google-btn-red;
  border-color: $google-btn-red;

  &:hover {
    color: white;
    background-color: $google-btn-hover;
    border-color: $google-btn-hover;
  }
}

.login-form-forgot {
  float: right;
}

.footer-info {
  text-align: center;
}